.how-download {
    background-color: $blueText;
    position: relative;
    z-index: 1;
}

.how-download-wrapper {
    padding-top: 125px;
    padding-bottom: 115px;
    position: relative;
}

.how-download-wrapper h2 {
    font: 36px UbuntuBold, sans-serif;
    color: #fff;
    text-transform: uppercase;
}

.how-download-wrapper p {
    font: 18px UbuntuRegular, sans-serif;
    color: #Fff;
    width: 400px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.download-button {
    display: block;
    width: 147px;
    height: 45px;
    border: 1px transparent #000;
    border-radius: 5px;
    background-repeat: no-repeat;

}

.app-store {
    background-image: url(../img/appstore.png);
    margin-right: 10px;
}

.play-market {
    background-image: url('../img/google play.png');
}



.bg-footer {
    width: 716px;
    display: block;
    height: 432px;
    z-index: -10;
    bottom: 0;
    right: 310px;
    position: absolute;
}

.bg-footer img {
    width: 716px;
    height: 432px;

}

@media (min-width:768px) and (max-width:1920px) {
    .bg-footer {
        right: 0;
    }
}

.footer-contacts {
    background-color: #353854;
    padding-top: 100px;
    padding-bottom: 100px;
    border-bottom: 1px solid #434769;

    .concats-list {
        width: 300px;
    }

    object {
        path#fill {
            fill: #b5b5c8;
        }
    }
}

.design-by {
    background-color: #353854;
    padding-top: 50px;
    padding-bottom: 80px;

    p {
        font: 16px 'UbuntuRegular', sans-serif;
        color: #565b87;
        text-align: center;
    }
}