.primary-text {
    font: 24px/36px UbuntuRegular, sans-serif;
    color: $darkblue;
}

.screens-item {
    width: 100%;
    margin-bottom: 250px;
}

.screens-img {
    min-width: 414px;
}

.screen-title {
    margin-top: 30px;
    margin-bottom: 25px;
}

.screens-icon {
    margin-top: 70px;
}


@media (min-width: 0) {
    .screens-item {
        text-align: center;
        margin-bottom: 70px;
    }

}

.simple-widgets .text-center {
    margin-bottom: 0 !important;
}

.slider {
    position: relative;
}


.owl-stage {
    align-items: center;
    height: 700px;
    display: flex;
}

.owl-item.center {
    transform: scale(1.1);
    z-index: 100;
}

.owl-prev {
    span {
        font-size: 100px;
        font-family: 'UbuntuRegular';
    }

    position: absolute;
    top: calc(50% - 46px);
    left: -120px;
}

.owl-next {
    position: absolute;
    position: absolute;
    top: calc(50% - 46px);
    right: -120px;
}